{% extends 'base.html' %} {% load static %} {% block head %}

<title>10th 신촌톤</title>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
<script src="../js/timer.js"></script>
{% endblock %}
<!-- </head> -->
<!-- <body> -->
{% block content %}
<!-- {% if ~ %} -->
<div class="timer">
	신촌톤 지원 <span class="timer-highlight">시작</span>까지
	<div id="applystart"></div>
	<br />
</div>
<!-- {% elif ~ %} -->
<div class="timer">
	신촌톤 지원 <span class="timer-highlight">마감</span>까지
	<div id="applyend"></div>
	<br />
</div>
<!-- {% else %} -->
<div class="timer">
	신촌톤 <span class="timer-highlight">시작</span>까지
	<div id="programstart"></div>
	<br />
</div>
<!-- {% endif %} -->
{% endblock %}

<!-- </body> -->
<!-- </html> -->
